    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">글작성 페이지</div>

  <!-- Table -->
  <table class="table">
    <form action="/board/qcreate" method="post">
        <p>제목 <input type="text" name="qinput_title"></p>
        <p>내용 <input type="text" name="qinput_content"></p> 
        <p><input type="submit" value="Submit"></p>
    </form>
  </table>
</div>
